body {
    padding: 0 8px;
}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    font-family: GoogleSans, Roboto,RobotoDraft,Arial,sans-serif;
    height: 48px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.logo, .form {
    width: 100%;
    display: flex;
}

a {
    padding-left: 15px;
    font-size: 0.8em;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.sign-btn {
    font-size: 0.9em;
    padding: 9px 23px;
    margin-left: 8px;
    background-clip: border-box;
    background-color: rgb(26, 115, 232);
    border-radius: 4px;
    color:white;
}

.sign-btn:hover {
    background-color:rgb(43, 125, 233);
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}

.btn {
    font-size: 0.9em;
    padding: 9px 23px;
    margin-left: 8px;
    background-clip: border-box;
    border-radius: 4px;
    color:#3c4043;
    background-color: #f8f9fa;
    font-family: arial,sans-serif;
    border: 1px solid #f8f9fa;
}

.btn:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
    cursor: pointer;
}

img {
    margin:auto;
}

.form {
    padding: 20px 0;
    display: flex;
    align-content:center;
}

.buttons {
    padding-top: 10px;
    display: flex;
}


form {
    margin:auto;
    width: 582px;
    height: 44px;
    border-radius: 30px;
    border: 1px rgba(211, 211, 211,0.6) solid;    
    display: flex;
    align-content:center;
    justify-content: space-between;
}

.icon {
    display: flex;
    height: 20px;
    width: 20px;
    fill: rgba(128,128,128,0.8);
    align-self:center;
    margin: 0 0.8em;
}

.icon-navbar {
    height: 24px;
    width: 24px;
    fill: rgb(95, 99, 104);
    padding: 8px;
    margin-left: 0.8em;
}

.icon-navbar:hover {
    cursor: pointer;
    background-color: rgba(128,128,128,0.1);
    border-radius: 50%;
}

.iconX {
    display: flex;
    height: 24px;
    width: 24px;
    fill: rgba(128,128,128,0.8);
    align-self: center;
    margin: 0 0.8em;
}

.iconX:hover {
    cursor: pointer;
}

form:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

input {
    width: 80%;
    height: 80%;
    border: none;
    outline: none;
    align-self: center;
    font-size: 1.05em;
}